body {
  line-height: 2.428571;
}

.main-header .logo {
  height: 63px;
  line-height: 63px;
}

.main-sidebar, .left-side {
  padding-top: 63px;
}

.navbar-nav>li>a {
  line-height: inherit;
}

@media (max-width: 991px) {
  .navbar-custom-menu .navbar-nav>li>a {
    line-height: inherit;
  }
}

@media (max-width: 767px) {
  .small-box h3 {
    font-size: 22px;
  }
  .content-wrapper {
    margin-top: 20px;
  }
}

.small-box h3 {
  font-size: 25px;
}

.small-box .icon {
  font-size: 75px;
}

.small-box:hover .icon {
  font-size: 80px;
}

.form-control-feedback {
  line-height: 46px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  line-height: 2.428571;
}

.small-box {
  line-height: 1.428571;
}

.mailbox-controls {
    padding: 10px;
}

.box-header>.box-tools {
    top: 11px;
}

.content-header>.breadcrumb {
    font-size: 14px;
    top: 7px;
}

.table>thead>tr.record>td,
.table>tbody>tr.record>td,
.table>tfoot>tr.record>td {
  line-height: 1.42857143;
}

.record .record-category-name {
  font-size: 1.2em;
}

.record .record-account-name {
  font-size: 0.9em;
}

.record .record-currency-name {
  font-size: 1.2em;
  float: right;
  clear: right;
}

.record .record-date-name {
  font-size: 0.9em;
  float: right;
  clear: right;
}

.tooltip {
  opacity: inherit;
}
